#app {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/backgroundimage.jpg");
    background-size: cover;
    z-index: -10;
    background-position: center 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#searchbox2 {
    padding-left:160px;
    padding-right:160px;
    margin-top: -250px;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 370px;
}
#searchbox{
    text-align:center;
}
.demo-table-expand {
    font-size: 0;
}

    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }

    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }

.el-input__inner {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #515151;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline-style: none;
    outline: 0;
    padding: 0 10px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

.el-input__icon {
    height: 100%;
    width: 15px;
    text-align: center;
    line-height: 40px;
}

.el-cascader .el-input .el-icon-arrow-down {
    transition: transform .3s,-webkit-transform .3s;
    font-size: 14px;
    float: right
}

.el-cascader {
    width: 260px;
    height: 40px;
    border-radius: 4px;
    color: #515151;
    outline-style: none;
}

#searchbox {
    background-image: url("../img/rec.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 900px 300px;
    margin-top: 30px;
    width: 100%;
    height: 600px;
}

.search {
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: #4862b9;
    color: white;
    height: 50px;
    width: 300px;
    font-size: 20px;
}

#choose h2 {
    text-align: center;
    color: #515151;
    font-size: 20px;
    margin-bottom: 30px;
}

#choose input {
    margin-top: 0px;
    border-radius: 4px;
    height: 38px;
    width: 240px;
    padding: 0 10px;
    color: #515151;
    outline-style: none;
    border: 1px solid #bfbfbf;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#choose select {
    margin-top: 0px;
    border-radius: 8px;
    height: 35px;
    width: 300px;
    color: #515151;
    outline-style: none;
    border: 1px solid #bfbfbf;
}

#choose li {
    line-height: 30px;
    color: #515151;
    text-align: left;
    display: inline-block;
    margin-bottom: 20px;
}

#cascader_1 {
    margin-left: 100px;
}

#cascader_2 {
    margin-left: 15px;
}

#input_1 {
    margin-left: 15px;
}

#btn_1 {
    width: 70px;
    height: 45px;
    font-size: 10px;
    margin-top: 3px;
}

#choose_class {
    width: 100px;
}

#choose_class select {
        /*清除select默认样式*/
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        border: 1px solid #CCC;
        width: 100px;
        height: 44px;
        /*自定义箭头的样式，记得背景一定要加 白色或其他*/
        background: url("../img/rec.png") no-repeat scroll right center #fff;
        /*ie下,原默认的箭头样式还是会显示，所以这里把自定义的样式给去除了*/
        background: #fff\9;
        color: #666;
        padding: 8px;
        outline: none;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        font-size: 16px;
}
.search:active {
    background: rgb(63, 54, 139);
}
