#app {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/backgroundimage.jpg");
    background-size: cover;
    z-index: -10;
    background-position: center 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#admin {
    display: grid;
    grid-template-areas: 'menu main ';
    grid-gap: 20px;
    background-color: rgba(245, 238, 238, 0.7);
    padding: 20px;
    width: 1250px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 130px;
    border-radius: 8px;
}

#bk2 {
    position: center;
    top: 100px;
    background: white;
    border-radius: 8px;
    height: 550px;
    width: 1210px;
    opacity: 1;
}

    #bk2 textarea {
        border-radius: 4px;
        max-width: none;
        border: 0px;
        background-color: #fafafa;
    }

    #bk2 h2 {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        color: #515151;
    }

#tip {
    text-align: center;
    margin-top: 50px;
    border-radius: 30px;
    border-width: 2px;
}

#content {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #515151;
}


.t1 {
    margin-top: 5px;
    margin-left: 350px;
    width: 60%;
}

#fd {
    margin-top: 5px;
    border-width: 1px;
    border-radius: 10px;
    width: 500px;
    height: 150px;
    resize: none;
    font-size: 15px;
    border-color: lightgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .12);
    outline: none;
}

.t2 {
    margin-left: 350px;
    width: 60%;
}

#ho {
    border-width: 1px;
    border-radius: 10px;
    width: 500px;
    height: 150px;
    resize: none;
    font-size: 15px;
    border-color: lightgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    outline: none;
    margin-top: 5px;
}


.b1 {
    margin-top: 10px;
    text-align: center;
}

#btn {
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 5px;
}

input::-webkit-input-placeholder {
    position: relative;
    margin-left: 20px;
}
